<label for="date">
	<f:translate key="tx_simhorse_domain_model_competitionentry.date" />
</label><br />
	<f:form.textfield property="date"  value="{competitionEntry.date->f:format.date()}" /><br />
<label for="location">
	<f:translate key="tx_simhorse_domain_model_competitionentry.location" />
</label><br />
	<f:form.textfield property="location" /><br />
<label for="link">
	<f:translate key="tx_simhorse_domain_model_competitionentry.link" />
</label><br />
	<f:form.textfield property="link" /><br />
<label for="showName">
	<f:translate key="tx_simhorse_domain_model_competitionentry.show_name" />
</label><br />
	<f:form.textfield property="showName" /><br />
<label for="place">
	<f:translate key="tx_simhorse_domain_model_competitionentry.place" />
</label><br />
	<f:form.textfield property="place" /><br />
<label for="specialTitle">
	<f:translate key="tx_simhorse_domain_model_competitionentry.special_title" />
</label><br />
	<f:form.textfield property="specialTitle" /><br />
<label for="association">
	<f:translate key="tx_simhorse_domain_model_competitionentry.association" />
</label><br />
	<f:form.textfield property="association" /><br />
<label for="associationPoints">
	<f:translate key="tx_simhorse_domain_model_competitionentry.association_points" />
</label><br />
	<f:form.textfield property="associationPoints" /><br />
<label for="earnings">
	<f:translate key="tx_simhorse_domain_model_competitionentry.earnings" />
</label><br />
	<f:form.textfield property="earnings" /><br />
<label for="image">
	<f:translate key="tx_simhorse_domain_model_competitionentry.image" />
</label><br />
	<f:form.upload property="image" /><br />