<table class="tx-simhorse" >
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.date" />
		</td>
		<td>
			{competitionEntry.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.location" />
		</td>
		<td>
			{competitionEntry.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.link" />
		</td>
		<td>
			{competitionEntry.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.show_name" />
		</td>
		<td>
			{competitionEntry.showName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.place" />
		</td>
		<td>
			{competitionEntry.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.special_title" />
		</td>
		<td>
			{competitionEntry.specialTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.association" />
		</td>
		<td>
			{competitionEntry.association}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.association_points" />
		</td>
		<td>
			{competitionEntry.associationPoints}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.earnings" />
		</td>
		<td>
			{competitionEntry.earnings}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_competitionentry.image" />
		</td>
		<td>
			{competitionEntry.image}
		</td>
	</tr>
</table>