<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Horse</h1>

<f:flashMessages />

<table  class="tx_simhorse" >
	<tr>
		<th><f:translate key="tx_simhorse_domain_model_horse.name" /></th>
		<th><f:translate key="tx_simhorse_domain_model_horse.gender" /></th>
		<th><f:translate key="tx_simhorse_domain_model_horse.color" /></th>
		<th><f:translate key="tx_simhorse_domain_model_horse.breed" /></th>
		<th><f:translate key="tx_simhorse_domain_model_horse.year_of_birth" /></th>
	</tr>

	<f:for each="{horses}" as="horse">
		<tr>
			<td><f:link.action action="show" arguments="{horse : horse}"> {horse.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{horse : horse}"> {horse.gender}</f:link.action></td>
			<td><f:link.action action="show" arguments="{horse : horse}"> {horse.color}</f:link.action></td>
			<td><f:link.action action="show" arguments="{horse : horse}"> {horse.breed}</f:link.action></td>
			<td><f:link.action action="show" arguments="{horse : horse}"> {horse.yearOfBirth}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>