<label for="name">
	<f:translate key="tx_simhorse_domain_model_horse.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="praefix">
	<f:translate key="tx_simhorse_domain_model_horse.praefix" />
</label><br />
	<f:form.textfield property="praefix" /><br />
<label for="suffix">
	<f:translate key="tx_simhorse_domain_model_horse.suffix" />
</label><br />
	<f:form.textfield property="suffix" /><br />
<label for="gender">
	<f:translate key="tx_simhorse_domain_model_horse.gender" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="gender" /><br />
<label for="description">
	<f:translate key="tx_simhorse_domain_model_horse.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="color">
	<f:translate key="tx_simhorse_domain_model_horse.color" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="color" /><br />
<label for="colorGenetics">
	<f:translate key="tx_simhorse_domain_model_horse.color_genetics" />
</label><br />
	<f:form.textfield property="colorGenetics" /><br />
<label for="breed">
	<f:translate key="tx_simhorse_domain_model_horse.breed" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="breed" /><br />
<label for="yearOfBirth">
	<f:translate key="tx_simhorse_domain_model_horse.year_of_birth" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="yearOfBirth" /><br />
<label for="breeder">
	<f:translate key="tx_simhorse_domain_model_horse.breeder" />
</label><br />
	<f:form.textfield property="breeder" /><br />
<label for="previousOwner">
	<f:translate key="tx_simhorse_domain_model_horse.previous_owner" />
</label><br />
	<f:form.textfield property="previousOwner" /><br />
<label for="openForBreeding">
	<f:translate key="tx_simhorse_domain_model_horse.open_for_breeding" />
</label><br />
	<f:form.checkbox property="openForBreeding" value="1" /><br />
<label for="breedingFee">
	<f:translate key="tx_simhorse_domain_model_horse.breeding_fee" />
</label><br />
	<f:form.textfield property="breedingFee" /><br />
<label for="licensedFor">
	<f:translate key="tx_simhorse_domain_model_horse.licensed_for" />
</label><br />
	<f:form.textfield property="licensedFor" /><br />
<label for="breedingInformation">
	<f:translate key="tx_simhorse_domain_model_horse.breeding_information" />
</label><br />
	<f:form.textarea property="breedingInformation" cols="40" rows="15" /><br />