<table class="tx-simhorse" >
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.name" />
		</td>
		<td>
			{horse.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.praefix" />
		</td>
		<td>
			{horse.praefix}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.suffix" />
		</td>
		<td>
			{horse.suffix}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.gender" />
		</td>
		<td>
			{horse.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.description" />
		</td>
		<td>
			{horse.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.color" />
		</td>
		<td>
			{horse.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.color_genetics" />
		</td>
		<td>
			{horse.colorGenetics}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.breed" />
		</td>
		<td>
			{horse.breed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.year_of_birth" />
		</td>
		<td>
			{horse.yearOfBirth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.breeder" />
		</td>
		<td>
			{horse.breeder}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.previous_owner" />
		</td>
		<td>
			{horse.previousOwner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.open_for_breeding" />
		</td>
		<td>
			{horse.openForBreeding}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.breeding_fee" />
		</td>
		<td>
			{horse.breedingFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.licensed_for" />
		</td>
		<td>
			{horse.licensedFor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simhorse_domain_model_horse.breeding_information" />
		</td>
		<td>
			{horse.breedingInformation}
		</td>
	</tr>
</table>